{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Questrial|Domine" rel="stylesheet" />
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="wrapper">
        <!--HEADER-->
        <header>
            <div>
                {% if user.is_authenticated %}
                 Hi {{ user.username }} | <a href="{% url 'logout' %}" class="add-btn2">Logout</a>
                {% else %}
                <a href="{% url 'signup' %}" class="add-btn2">Sign Up</a>
                <a href="{% url 'login' %}" class="add-btn2">login</a>
                {% endif %}
                
            </div>

            <h1 id="logo">
                <a href="{% url 'products' %}">STORE</a>
            </h1>

            <div id="controls">
                <div id="cart">
                </div>
            </div>
        </header>
        <!-- END HEADER-->




        <!--MAIN-->
        <main>
            {% block content %}

            {% endblock %}

        </main>
        <!--END MAIN-->




    </div>

    <!--FOOTER-->
    <footer>
        <a href="#" id="scroll-up">
            <i class="fas fa-chevron-up"></i>
        </a>
        <!--2-->
        <p>&copy; 2023 STORE All Rights Reserved.</p>
        <!--2-->
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
        crossorigin="anonymous"></script>
</body>

</html>y>

</html>